@primary-color: #3498DB;
@secondary-color: #2980B9;
@content-primary-color: #f1f1f1;
@content-secondary-color: #ddd;

.menu-container p {
  cursor: pointer;
  width: 40px;
  img {
    width: 40px;
  }
}
 
  .class-model-container {
    display: none;
  }

  .content-menu {
    position: absolute;
    left: 10%;
    background-color: @primary-color;
  }

  .module {
    display: none;
    width: 300px;
    cursor: pointer;
    .module-name {
      height: 40px;
    }
    .model {
      background-color: @secondary-color;
    }
  }
  
  .model-adminmanagerdisplay a:hover {
    background-color: @content-secondary-color;
  }