img {
  width: 40px;
}
.class-model-container,
.content-menu,
.list-model {
  display: none;
}
.content-menu {
  position: absolute;
}
.module {
  width: 300px;
  cursor: pointer;
}
.module .module-name {
  height: 40px;
  line-height: 40px;
  width: 300px;
}
.module .model {
  background-color: #2980B9;
}
.model-adminmanagerdisplay a:hover {
  background-color: #ddd;
}
