.menu-container p {
  cursor: pointer;
  width: 40px;
}
.menu-container p img {
  width: 40px;
}
.class-model-container {
  display: none;
}
.content-menu {
  position: absolute;
  left: 10%;
  background-color: #3498DB;
}
.module {
  display: none;
  width: 300px;
  cursor: pointer;
}
.module .module-name {
  height: 40px;
}
.module .model {
  background-color: #2980B9;
}
.model-adminmanagerdisplay a:hover {
  background-color: #ddd;
}
